
Listen 8080
	<VirtualHost *:8080>
		ServerName YOURSERVERNAME

		ProxyPreserveHost On
		ProxyRequests On
		ProxyPass / https://https://youremissionurl:8081/
		ProxyPassReverse / https://youremissionurl:8081/

		SSLProxyEngine on

		##################################################################
		# additional conf for TLS
		SSLEngine on
		SSLCertificateFile		/etc/letsencrypt/live/yourserverdir/fullchain.pem
		SSLCertificateKeyFile	/etc/letsencrypt/live/yourserverdir/privkey.pem

		Include /etc/letsencrypt/options-ssl-apache.conf

		##################################################################
	</VirtualHost>

## change the e-mission port from 8080 to 8081 in your conf/net/api/webserver.conf file
